@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Movie.Services.Enums
@inject SignInManager<IdentityUser> SignInManager

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
}

<h2>Movie Details</h2>

<div class="col-sm-10 col-lg-10 col-md-10">
    @Html.AntiForgeryToken()
    <div class="thumbnail">
        <img src="@Model.Movie.BannerUrl" width="200px" height="350px" alt="">
        <div class="caption">
            <h3>
                <a>@Model.Movie.Name</a>
            </h3>
            <h5>
                <p>Premier Time: @Model.PremierTime</p>
                <p>Premier Time: @Model.DurationMinutes</p>
                <p>Max Users Capacity: @Model.RoomUserCapacity</p>
                <p>Booked Places: @Model.UserCount</p>
                <p>Price: @Model.Price @Model.Currency</p>
                <p>Status: @Model.Status</p>
                <p>Gener: @Model.Movie.Gener</p>
                <p>Director: @Model.Movie.Director</p>
                <p>IMDB Reiting: @Model.Movie.IMDBReiting</p>
                <p>Description: @Model.Movie.Description</p>
            </h5>
            @if (User.FindFirst(ClaimTypes.Role).Value == Roles.Admin.ToString())
            {
                @if (Model.Status == "Active")
                {
                    <form method="post" asp-action="InActivateRoom" asp-controller="Room"asp-route-id="@Model.Id">
                            <button class="btn btn-info">InActive Movie</button>
                    </form>
                }
                else if (Model.Status != "Active")
                {
                    <form method="post" asp-action="ActivateRoom" asp-controller="Room" asp-route-id="@Model.Id">
                            <button class="btn btn-info">Activate Movie</button>
                    </form>
                }
            }
        </div>
    </div>
    <div>
</div>
</div>
