@*@model Tuple<PagedList.IPagedList<Movie.BO.Web.MVC.Models.Room.RoomViewModel>, IEnumerable<Movie.BO.Web.MVC.Models.Room.RoomViewModel>>*@
@model IEnumerable<Movie.BO.Web.MVC.Models.Room.RoomViewModel>;
@*@model PagedList.IPagedList<Movie.BO.Web.MVC.Models.Room.RoomViewModel>;*@
@using PagedList.Mvc;
@using PagedList;

@using (Html.BeginForm("Index", "Rooms", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<a class="btn btn-primary" asp-controller="Room" asp-action="AddRoom">Add Room</a>
<table class="table table-striped">
    @Html.AntiForgeryToken()
    <thead>
        <tr>
            <th>@Html.ActionLink("Premier Date", "Index", new { sortOrder = ViewBag.DateSortParm })</th>
            <th>Duration</th>
            <th>Max Users Capacity</th>
            <th>Booked Places</th>
            <th>Price</th>
            <th>@Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm })</th>
            <th>Detail</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>

                <td>
                    <p class="pull-right">@room.PremierTime</p>
                </td>
                <td>
                    <p class="pull-right">@room.DurationMinutes</p>
                </td>
                <td>
                    <p class="pull-right">@room.RoomUserCapacity</p>
                </td>
                <td>
                    <p class="pull-right">@room.UserCount</p>
                </td>
                <td>
                    <p class="pull-right">@room.Price @room.Price</p>
                </td>
                <td>
                    <p class="pull-right">@room.Status</p>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Room" asp-action="RoomDetails" asp-route-id="@room.Id">Detail</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Room" asp-action="Delete" asp-route-id="@room.Id">Delete</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Room" asp-action="Update" asp-route-id="@room.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<p>@Html.ActionLink("Page" ,"Index", new { page = 1,roomPerPage = 3 })</p> 
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

@*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@

